
.newBook {
    width: 0;
    transition: width 0.5s;
}

.newBook.active {
    border-radius: 5px;
    width: 100%;
    height: 50px;
    position: static;
}

.newBook .newBook__body {
    display: none;
}

.newBook.active .newBook__body {
    display: block;
}